.con{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    box-shadow: 1px 1px 4px black;
    border-radius: 5px;
}
input,textarea{
    border: none;
    outline: none;
    text-align: center;
}
input{
    border-bottom: 1px solid black;
}
textarea{
    box-shadow: 1px 1px 4px black inset;
    border-radius: 10px;
    padding: 2px;
}
.button{
    border-radius: 10000px;
    padding: 5px 20px;
    background-color: rgb(194, 192, 192);
    color: rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    border: none;
}
.button:hover{
    background-color: rgb(165, 163, 163);
    color: black;
}